body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: none;
    margin: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-family: Roboto;
    padding: 4px 24px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.hero, .carousel, .quote, .action {
    /* top bottom | left right */
    padding: 0 132px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero, .footer {
    color: white;
    background-color: #1F2937;
}

.hero .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 64px 0;
}

.hero .main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    margin-top: 12px;
}

.carousel {
    text-align: center;
    font-size: 11px;
    margin: 32px 0px;
}

.carousel .header {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info {
    max-width: 100px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info img {
    /* resize rectangles to squares */
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border-color: #3882F6;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    text-align: end;
}

.quote {
    background-color: #E5E7EB;
    /* padding: 64px 0px; */
}

